@import "tailwindcss";

:root {
  --background: #020617; /* geändert von weiß -> slate-950 */
  --foreground: #ffffff; /* geändert von dunkel -> weiß */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617; /* geändert */
    --foreground: #ffffff; /* geändert */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}